# Copyright (c) 2024 Helixon Limited.
#
# This file is a part of ProtMyth and is released under the MIT License.
# Thanks for using ProtMyth!
#
# You should always use Numpy style Parameters part of docstring
# for functions and classes. https://sphinxcontrib-napoleon.readthedocs.io/en/latest/

[MASTER]
# Check docstring completeness
load-plugins = 
    pylint.extensions.docparams,
    pylint.extensions.docstyle,
    pylint_junit

[MESSAGES CONTROL]
enable = all
disable =
    # Style rules handled by yapf/flake8/isort
    invalid-name,
    line-too-long,
    wrong-import-order,
    # Class must have 2 public methods seems arbitary
    too-few-public-methods,
    # Algorithms and neural networks generally have a lot of variables
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals,
    # Detection seems buggy or unhelpful
    duplicate-code,
    # Allow more readable code
    no-else-return,
    # Discourages small interfaces
    too-few-public-methods,

[DESIGN]
max-parents=12

[PARAMETER_DOCUMENTATION]
# Docstrings are required and should be complete
accept-no-param-doc=no
accept-no-raise-doc=no
accept-no-return-doc=no
accept-no-yields-doc=no
default-docstring-type=numpy

[REPORTS]
output-format=junit